.product-reviews {
  .fa {
    font-size: $font-size-x-large;
  }

  .review-summary {
    .left {
      flex: 0 0 20%; // Fixed width
      white-space: nowrap;

      @include media-breakpoint-up(md) {
        flex: 0 0 25%;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 15%;
      }
    }

    .middle {
      flex: 1; // Takes up the remaining space
    }

    .right {
      flex: 0 0 20%; // Fixed width
      text-align: right;

      @include media-breakpoint-up(md) {
        flex: 0 0 25%;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 15%;
      }
    }

    .bar-container {
      background: #e0e0e0; // A light background for the bar
      height: 8px; // Adjust as needed
      border-radius: 4px;
      overflow: hidden;
      position: relative;
    }

    .bar-container .bar {
      background: #76c7c0; // Adjust bar color
      height: 100%;
    }
  }

  .review-list {
    .review-box {
      height: 100%;
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;
      background-color: $white;

      .avatar {
        width: 40px;
        height: 40px;
      }

      .review-icon {
        width: 35px;
        height: 35px;

        @include media-breakpoint-up(lg) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.review-dashboard {
  .r-list {
    .review-box {
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;

      .avatar {
        width: 30px;
        height: 30px;
        font-size: $font-size-x-small;

        @include media-breakpoint-up(md) {
          width: 40px;
          height: 40px;
          font-size: $font-size-medium;
        }
      }

      .review-content {
        width: 100%;

        @include media-breakpoint-up(lg) {
          width: 80%;
        }
      }
    }

    .review-product-box {
      @include media-breakpoint-up(lg) {
        width: 80%;
      }
    }

    .item-image {
      border-radius: $border-radius-default;

      @include media-breakpoint-up(lg) {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }
  }
}
